body{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(49, 95, 200);
      box-sizing: border-box;
      font-family: 'Roboto',Arial;
    }
    .mainPage{
      width: 370px;
      background-color: white;
      padding: 20px 16px;
      border-radius: 8px;
    }
    .addSection{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .add{
      height: 38px;
      width: 72px;
      color: white;
      background-color:rgb(60, 105, 232);
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 15px;
      text-align: center;
    }
    input{
      width: 276px;
      border-radius: 5px;
      border: 1px solid;
      font-size: 15px;
    }
    input:focus{
      border-width: 2px;
      border-color:rgb(30, 171, 231);
      outline: none;
      font-size: 15px;
      padding-left: 8px;
    }
        .taskItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(197, 224, 228);
      padding: 10px;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    .taskItem p {
      margin: 0;
      font-size: 14px;
    }

    .del {
      background-color: rgb(60, 105, 232);
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      padding: 6px 8px;
    }